body
{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: medium;
    line-height: 20px;

    color: #283136;
}

.main-navigation a
{
    font-size: 14px;
    line-height: 30px;

    text-decoration: none;
    text-transform: uppercase;

    color: black;
}

.shop-header
{
    font-size: 40px;
    line-height: 48px;

    text-transform: uppercase;

    color: black;
}

h2,
.footer-promo b
{
    font-size: 36px;
    line-height: 36px;

    color: black;
}

h3,
legend
{
    font-size: 18px;
    line-height: 30px;

    text-transform: uppercase;

    color: black;
}

.btn
{
    font-size: 12px;
    line-height: 18px;

    text-decoration: none;

    color: white;
}

h4,
.paginator .btn,
.filters .btn,
.sort
{
    font-size: 12px;
    line-height: 18px;

    text-transform: uppercase;

    color: black;
}

.sort li
{
    opacity: .3;
}

.contacts
{
    line-height: 1.25em;
}

.about-right > div
{
    text-transform: uppercase;

    color: black;
}



